/.vs
/JobParser/bin
/JobParser/obj
/JobParser.Core/bin
/JobParser.Core/obj
/JobWebApi/bin
/JobWebApi/obj
/JobParser/appsettings.Production.json
/JobWebApi/Properties
/JobParser/appsettings.Development.json
/JobParser/.local-chromium
/JobWebApi/appsettings.Production.json
/JobWebApi/appsettings.Development.json
